<div class="wrapper">
  <div class="banner-track">
    <% 2.times do %>
      <p>
        <span>Open for full-time remote</span>
        <span>•</span>
        <span>5+ years experience</span>
        <span>•</span>
        <span>Based in Bordeaux, France</span>
        <span>•</span>
        <span>Ruby On Rails Developer</span>
        <span>•</span>
        <span>UX Design</span>
        <span>•</span>
      </p>
    <% end %>
  </div>
</div>
