<button type="button" class="btn-close close-modal" data-action="click->modal#closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
<h2><%= project.title %></h2>
<p><%= project.tools.pluck(:name) %></p>