<div class="col-5">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th><p>Project</p></th>
                <th><p>Role</p></th>
                <th><p>Date</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p><%= project.title %></p></td>
                <td><p><%= project.role.html_safe %></p></td>
                <td><p><%= project.date %></p></td>
            </tr>
        </tbody>
    </table>
</div>