/* Make the modal fullscreen but not initially visible */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(100%);
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.modal.slide-down .modal-dialog {
  transform: translateY(-100%);
}

.project-modal .modal-content {
    position: absolute;
    bottom: 0;
    height: 80vh; /* Starts at 1/4 of the screen */
    max-height: 100vh;
    width: 100%;
    border-radius: 20px 20px 0 0;
    transition: height 0.5s ease-in-out;
}

.project-modal .modal-body {
    overflow: auto;
    padding: 20px;
}

.modal-scroll-content {
    min-height: 200vh; /* Simulates long content */
}


